Homework
This homework should consolidate everything you learnt in class today.

# Question 1
Create a list with the following data, and assign it to a variable named shopping: 'spam' 'ham' 'eggs' 'ham'

Then do the following:

Extract the second element of the list.

Extract the first to third (inclusive) element of the list.

Extract only the last element of the list.

In [3]:
shopping = ["spam", "ham", "eggs", "ham"]
shopping

['spam', 'ham', 'eggs', 'ham']

In [5]:
shopping[1]

'ham'

In [6]:
shopping[0:3]

['spam', 'ham', 'eggs']

In [7]:
shopping[-1]

'ham'

# Question 2
Set up a list with the following elements:

stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

Perform the following:

* Append Edinburgh Waverley to the end of the list
* Add "Queen Street" to the start of the list
* Find out what index "Croy" is at in the list
* Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")
* Remove "Haymarket" from the list of stops
* Remove all items from stops
* Hint: Some of these methods will change the original object stops. If you make any unwanted changes and want to go back to the original object you can re-run the code chunks where we created the object stops and then appended "Edinburgh Waverley".

In [27]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket']

In [28]:
stops.append("Edinburgh Waverley")
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [29]:
stops.insert(0, "Queen Street")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [30]:
stops.index("Croy")

1

In [31]:
stops.insert(4, "Polmont")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [32]:
stops.remove("Haymarket")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']


# Question 3
Set up the following dictionary:

person = {"name": "Steph", "age": 31, "Instructor" : True}

Do the following:

Return the keys, values and items from this dictionary

Take out only the name from it

Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary

Delete the job description from the dictionary (Hint: look up the del function)

In [33]:
person = {"name": "Steph", "age": 31, "Instructor" : True}

In [35]:
person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [36]:
person.values()

dict_values(['Steph', 31, True])

In [37]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [38]:
person["name"]

'Steph'

In [45]:
person.update({"email":"steph@codeclan.com"})
person

{'name': 'Steph', 'age': 31, 'Instructor': True, 'email': 'steph@codeclan.com'}

In [48]:
person.pop("Instructor")
person

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}


# Question 4
For the following list of numbers:

numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

Print out a list of the even integers:

Print the difference between the largest and smallest value:

Print True if the list contains a 2 next to a 2 somewhere.

Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22

In [49]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]
numbers

[1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [50]:
for number in numbers:
    if number % 2 == 0:
        print(number)

6
2
2
6

In [54]:
numbers.sort()
numbers[-1]-numbers[0]

98

In [74]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [189]:
for i in numbers:
    if i ==2:
        print(i)

2
2

In [186]:
for i,j in enumerate(numbers):
    if numbers[i] == numbers[i+1]:
        print(i)

2

IndexError: list index out of range

0
1
2
3
4
5
7
8
9
10
11
12
13
14
15
16
17
18
19

# Question 5
Write a conditional that takes in two inputs :

* python_is_fun = True
* python_is_weird = True
* We want to print "Woo Python!" if either python_is_fun is true OR python_is_weird is true OR both python_is_fun and python_is_weird are true. Otherwise, print "Python is not for me!". Make sure you test all the combinations.

In [118]:
python_is_fun = False
python_is_weird = False

def pyth(x,y):
    if x == True or y == True:
        print("Woo Python")
    else:
        print("Pyton is not for me!")
        
pyth(python_is_fun, python_is_weird)

Pyton is not for me!

# Question 6
We have a list of chickens and the farmer would like to go through all the chickens, collecting the eggs and getting the total number of eggs collected.

chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

To write this as a loop, we'd do something like this:

total_eggs = 0

for chicken in chickens:
    total_eggs += chicken["eggs"]
    chicken["eggs"] = 0 # eggs have been collected

print(f"{total_eggs} eggs collected")

Instead, we want to define a function which passes in a list, so that if we wanted to count eggs of a different list of chickens from another farm, we can use the same function, just pass in a different list.

We also want to return the string at the end, instead of using print.

In [193]:
chickens = [ { "name": "Margaret", "age": 2, "eggs": 0 }, { "name": "Hetty", "age": 1, "eggs": 2 }, { "name": "Henrietta", "age": 3, "eggs": 1 }, { "name": "Audrey", "age": 2, "eggs": 0 }, { "name": "Mabel", "age": 5, "eggs": 1 }, ]

chickens

[{'name': 'Margaret', 'age': 2, 'eggs': 0},
 {'name': 'Hetty', 'age': 1, 'eggs': 2},
 {'name': 'Henrietta', 'age': 3, 'eggs': 1},
 {'name': 'Audrey', 'age': 2, 'eggs': 0},
 {'name': 'Mabel', 'age': 5, 'eggs': 1}]

In [268]:
def egg_count (x):
    egg_count = [i["eggs"] for i in x]
    return (sum(egg_count))
    
egg_count(chickens)

4

In [272]:
def egg_count (x):
    egg_count = [i["eggs"] for i in x]
    return "There were "+ str(sum(egg_count)) + " eggs laid at this farm"
    
egg_count(chickens)

'There were 4 eggs laid at this farm'

Extensions
# Question 1
Set up the following collection:

united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]

Change the capital of Wales from "Swansea" to "Cardiff".

Create a dictionary for Northern Ireland and add it to the united_kingdom list (The capital is Belfast, and the population is 1,811,000).

Use a loop to print the names of all the countries in the UK.

Use a loop to find the total population of the UK.

In [9]:
united_kingdom = [ { "name": "Scotland", "population": 5295000, "capital": "Edinburgh" }, { "name": "Wales", "population": 3063000, "capital": "Swansea" }, { "name": "England", "population": 53010000, "capital": "London" } ]

united_kingdom

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'},
 {'name': 'Wales', 'population': 3063000, 'capital': 'Swansea'},
 {'name': 'England', 'population': 53010000, 'capital': 'London'}]

In [11]:
united_kingdom[1]["capital"]="Cardiff"

In [12]:
united_kingdom.append({"name" : "Northern Island", "population" : 1811000, "capital" : "Belfast"})

united_kingdom

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'},
 {'name': 'Wales', 'population': 3063000, 'capital': 'Cardiff'},
 {'name': 'England', 'population': 53010000, 'capital': 'London'},
 {'name': 'Northern Island', 'population': 1811000, 'capital': 'Belfast'}]

In [293]:
def country_name (x):
    name = [i["name"] for i in x]
    return name
    
country_name(united_kingdom)

['Scotland', 'Wales', 'England', 'Northern Island']

In [295]:
def pop_count (x):
    pop = [i["population"] for i in x]
    return (sum(pop))
    
pop_count(united_kingdom)

63179000

# Question 2
Set up the following:

users = {
  "Jonathan": {
    "twitter": "jonnyt",
    "lottery_numbers": [6, 12, 49, 33, 45, 20],
    "home_town": "Stirling",
    "pets": [
    {
      "name": "fluffy",
      "species": "cat"
    },
    {
      "name": "fido",
      "species": "dog"
    },
    {
      "name": "spike",
      "species": "dog"
    }
  ]
  },
  "Erik": {
    "twitter": "eriksf",
    "lottery_numbers": [18, 34, 8, 11, 24],
    "home_town": "Linlithgow",
    "pets": [
    {
      "name": "nemo",
      "species": "fish"
    },
    {
      "name": "kevin",
      "species": "fish"
    },
    {
      "name": "spike",
      "species": "dog"
    },
    {
      "name": "rupert",
      "species": "parrot"
    }
  ]
  },
  "Avril": {
    "twitter": "bridgpally",
    "lottery_numbers": [12, 14, 33, 38, 9, 25],
    "home_town": "Dunbar",
    "pets": [
      {
        "name": "monty",
        "species": "snake"
      }
    ]
  }
}

* Get Jonathan's Twitter handle (i.e. the string "jonnyt")
* Get Erik's hometown
* Get the array of Erik's lottery numbers
* Get the species of Avril's pet Monty
* Get the smallest of Erik's lottery numbers
* Return an array of Avril's lottery numbers that are even
* Erik is one lottery number short! Add the number 7 to be included in his lottery numbers
* Change Erik's hometown to Edinburgh
* Add a pet dog to Erik called "Fluffy"
* Add another person to the users dictionary

In [297]:
users = { "Jonathan": { "twitter": "jonnyt", "lottery_numbers": [6, 12, 49, 33, 45, 20], "home_town": "Stirling", "pets": [ { "name": "fluffy", "species": "cat" }, { "name": "fido", "species": "dog" }, { "name": "spike", "species": "dog" } ] }, "Erik": { "twitter": "eriksf", "lottery_numbers": [18, 34, 8, 11, 24], "home_town": "Linlithgow", "pets": [ { "name": "nemo", "species": "fish" }, { "name": "kevin", "species": "fish" }, { "name": "spike", "species": "dog" }, { "name": "rupert", "species": "parrot" } ] }, "Avril": { "twitter": "bridgpally", "lottery_numbers": [12, 14, 33, 38, 9, 25], "home_town": "Dunbar", "pets": [ { "name": "monty", "species": "snake" } ] } }

users

{'Jonathan': {'twitter': 'jonnyt',
  'lottery_numbers': [6, 12, 49, 33, 45, 20],
  'home_town': 'Stirling',
  'pets': [{'name': 'fluffy', 'species': 'cat'},
   {'name': 'fido', 'species': 'dog'},
   {'name': 'spike', 'species': 'dog'}]},
 'Erik': {'twitter': 'eriksf',
  'lottery_numbers': [18, 34, 8, 11, 24],
  'home_town': 'Linlithgow',
  'pets': [{'name': 'nemo', 'species': 'fish'},
   {'name': 'kevin', 'species': 'fish'},
   {'name': 'spike', 'species': 'dog'},
   {'name': 'rupert', 'species': 'parrot'}]},
 'Avril': {'twitter': 'bridgpally',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Dunbar',
  'pets': [{'name': 'monty', 'species': 'snake'}]}}

In [303]:
users["Jonathan"]["twitter"]

'jonnyt'

In [306]:
users["Erik"]["home_town"]

'Linlithgow'

In [308]:
users["Erik"]["lottery_numbers"]

[18, 34, 8, 11, 24]

In [317]:
users["Avril"]["pets"]
#adding["species"] is not working

[{'name': 'monty', 'species': 'snake'}]

In [320]:
numbers = users["Erik"]["lottery_numbers"]
min(numbers)

8

In [332]:
numbers = users["Avril"]["lottery_numbers"]
even_avril=[]
for number in numbers:
    if number%2 ==0:
        even_avril.append(number)
        
print(even_avril)

[12, 14, 38]

In [333]:
users["Erik"]["lottery_numbers"].append(7)

In [334]:
users

{'Jonathan': {'twitter': 'jonnyt',
  'lottery_numbers': [6, 12, 49, 33, 45, 20],
  'home_town': 'Stirling',
  'pets': [{'name': 'fluffy', 'species': 'cat'},
   {'name': 'fido', 'species': 'dog'},
   {'name': 'spike', 'species': 'dog'}]},
 'Erik': {'twitter': 'eriksf',
  'lottery_numbers': [18, 34, 8, 11, 24, 7],
  'home_town': 'Linlithgow',
  'pets': [{'name': 'nemo', 'species': 'fish'},
   {'name': 'kevin', 'species': 'fish'},
   {'name': 'spike', 'species': 'dog'},
   {'name': 'rupert', 'species': 'parrot'}]},
 'Avril': {'twitter': 'bridgpally',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Dunbar',
  'pets': [{'name': 'monty', 'species': 'snake'}]}}

In [336]:
# not sure how to update

TypeError: unhashable type: 'slice'

TypeError: 'builtin_function_or_method' object is not subscriptable